.imagi{
    width: 100%;
}

.b1{
    width: 20%;
}
.b2{
    width: 20%;
}

.b3{
    width: 20%;
}

.b4{
    width: 20%;
}

.b5{    
    width: 81%;
}

.b6{
    width: 20%;
}

.b7{
    width: 20%;
}


.mi{
    width: 200px;
}

.nenes{
    width: 200px;
}

.imas{
    width: 200px;
}


