#btn1{
    width: 70%;
    margin-bottom:10px;
}

#btn2{
    width: 70%;
    margin-bottom: 10px;
}

#btn3{
    width: 70%;
    margin-bottom: 10px;
}

#btn4{
    width: 70%;
    margin-bottom: 10px;
    margin-left: 3px;
    
}

#btn5{
    width: 70%;
    margin-bottom: 10px;
    margin-left: 3px;
}

.img1{
    width: 102px;
    height: 102px;
    margin-left: 80%;
}
.ocultar{
    display: none;
}

body{
    background-color: rgb(212, 171, 148);
    
    
}

.bac{
    margin-left: 60%;
    color: darkmagenta;
    width: 50%;
}

