.imagi{
    width: 700px;
}

.b1{
    width: 20%;
}
.b2{
    width: 20%;
}

.b3{
    width: 20%;
}

.b4{
    width: 20%;
}



.mi{
    width: 200px;
}

.nenes{
    width: 200px;
}
.imas{  
   width: 150px;
   height: 100px;
   
}





